<!DOCTYPE html>
<html>
<head>

  <title>Home</title>
  <style>
    body
    {
    background-image: url('/static/Images/homebg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 720px 720px, cover ;
    }
  </style>
  <!-- link(rel="stylesheet", href="/static/style.css")-->
</head>
<body>
</body>
</html>