
doctype html

head
  title Home
  style.
    body
    {
    background-image: url('/static/Images/homebg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }
  // link(rel="stylesheet", href="/static/style.css")
br
br
br
br
br
center
  h1 Welcome To Online Feedback Form
  #container.col
    h3 Choose your option
    a(href='index') Registration
    br
    a(href='login') Login
    br
    a(href='feedback_form') Feedback
    br