<!DOCTYPE html>
<html>
	<head>
 		<title>Feedback Form</title>
 	</head>
 	<frameset>
		<!-- <frame name = "top" src="contents_of_frame1.html" scrolling="no"/> -->
 		<frameset cols = "50%,50%">
			<frame name = "left" src="contents_of_frame1" />
			<frame  name = "right" src = "login"/>
		</frameset>
 	<noframes>
 		<body>Your browser does not support frames.</body>
 	</noframes>
	</frameset>
</html>
