<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content=
			"width=device-width, initial-scale=1.0")
		


		title Login Form
		//- we are directly use static files because
		// already use static serve
		link(rel="stylesheet", href="/static/style.css")
	body
	    
		.form
		
			h2 LOGIN FORM
			if(msg)
				small=msg
			//- feedback_form POST route
			
			form(action="/login",method="POST")
				label(for="name") Enter Your Name
				input#name(type="text", name="name", required)
				label(for="email") Enter Your Email
				input#email(type="email", name="email", required)
				button(type="submit") Submit