<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content=
			"width=device-width, initial-scale=1.0")
		


		title Reg Form
		//- we are directly use static files because
		// already use static serve
		link(rel="stylesheet", href="/static/style.css")
	body
	    
		.form
		
			h2 REGISTRATION sucesss